/* .app.dark{
    background-color: #222;
    color: white;
}

.ChartGrid{
    stroke: rgba(255, 255, 255, 0.116);
}

.AdminTable{
    background-color: #222 ;
  }

  .tablecell{
    color: rgb(19, 18, 18);
 }

 .navbar{
    color: gray; 
    border-color: #333;
 }

 .search{
    border-color: gray;
 }

 .sidebar{
    background-color: white;
    border-color: white;
 }


  .datagrid{
    color: gray !important ;
    border: none !important;
  }

  .viewButton, .deleteButton, .cellWithStatus{
    color: gray;
    border: none;
  }
   */