

.cellwrapper{
    display: flex;
    align-items: center;
  }

  .imgT{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .tablecell{
    display: flex;
    align-items: center;
  }

  .status {
    padding: 5px;
    border-radius: 5px;
  }

  .Approved{
    color: green;
    background-color: rgba(5, 44, 5, 0.342);
  }

  .pending {
    color: goldenrod;
    background-color: rgba(228, 214, 28, 0.308);
  }